[Unit]
Description=<description of code>
After=syslog.target network.target
[Service]
Type=simple
ExecStart=/root/bb/start.sh
[Install]
WantedBy=multi-user.target
